# Build directories
build/
out/
cmake-build-*/

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Executables
*.exe
*.out
aoc
aoc.exe

# IDE
.vs/
.vscode/
.idea/
